<a href="https://colab.research.google.com/github/AbhishekSharma70/FeatureEngineering/blob/main/Outlier_IQR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("heights2.csv")
df

       name  height
0     mohan     1.2
1     maria     2.3
2     sakib     4.9
3       tao     5.1
4     virat     5.2
5   khushbu     5.4
6    dmitry     5.5
7   seelena     5.5
8      john     5.6
9     imran     5.6
10     jose     5.8
11  deepika     5.9
12   yoseph     6.0
13    binod     6.1
14  gulshan     6.2
15  johnson     6.5
16   donald    14.5
17    aamir    23.2
18      ken    40.2

In [ ]:
df.describe()

          height
count  19.000000
mean    8.457895
std     9.018088
min     1.200000
25%     5.300000
50%     5.600000
75%     6.150000
max    40.200000

In [ ]:
Q1=df.height.quantile(0.25)
Q3=df.height.quantile(0.75)
Q1,Q3

(5.300000000000001, 6.15)

In [ ]:
IQR=Q3-Q1
IQR

0.8499999999999996

In [ ]:
lower_limit=Q1 - 1.5*IQR
upper_limit=Q3 + 1.5*IQR
lower_limit,upper_limit

(4.025000000000001, 7.425)

In [ ]:
df[(df.height<lower_limit) | (df.height>upper_limit)]

      name  height
0    mohan     1.2
1    maria     2.3
16  donald    14.5
17   aamir    23.2
18     ken    40.2

In [ ]:
df_no_outlier=df[(df.height>lower_limit)&(df.height<upper_limit)]
df_no_outlier

       name  height
2     sakib     4.9
3       tao     5.1
4     virat     5.2
5   khushbu     5.4
6    dmitry     5.5
7   seelena     5.5
8      john     5.6
9     imran     5.6
10     jose     5.8
11  deepika     5.9
12   yoseph     6.0
13    binod     6.1
14  gulshan     6.2
15  johnson     6.5