<a href="https://colab.research.google.com/github/AbhishekSharma70/FeatureEngineering/blob/main/Outliers_percentile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("height.csv")
df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [ ]:
max_threshold=df['height'].quantile(0.95)
max_threshold

9.689999999999998

In [ ]:
df[df['height']>max_threshold]

    name  height
9  imran    14.5

In [ ]:
min_threshold=df['height'].quantile(0.05)
min_threshold

3.6050000000000004

In [ ]:
df[df['height']<min_threshold]

      name  height
12  yoseph     1.2

In [ ]:
df=df[(df['height']<max_threshold) & (df['height']>min_threshold)]

In [ ]:
df=pd.read_csv("bhp.csv")
df.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2,51.00,2,4250

In [ ]:
df.shape

(199, 7)

In [ ]:
df.describe()

        total_sqft        bath       price         bhk  price_per_sqft
count   199.000000  199.000000  199.000000  199.000000      199.000000
mean   1546.637136    2.778894  106.912487    2.899497     6659.050251
std     865.463459    1.403947  104.367564    1.314238     4661.483588
min     276.000000    1.000000   11.000000    1.000000     1875.000000
25%    1071.750000    2.000000   49.335000    2.000000     4251.000000
50%    1300.000000    2.000000   70.000000    3.000000     5416.000000
75%    1702.000000    3.000000  122.500000    3.000000     6857.500000
max    5700.000000    9.000000  760.000000    8.000000    36274.000000

In [ ]:
max_threshold=df.price_per_sqft.quantile(0.99)
max_threshold

27208.000000000065

In [ ]:
min_threshold=df.price_per_sqft.quantile(0.01)
min_threshold

2498.88

In [ ]:
df[df.price_per_sqft<min_threshold]

            location   size  total_sqft  bath  price  bhk  price_per_sqft
130  Electronic City  2 BHK       880.0     1   16.5    2            1875
169         Attibele  1 BHK       450.0     1   11.0    1            2444

In [ ]:
df[df.price_per_sqft>max_threshold]

      location       size  total_sqft  bath  price  bhk  price_per_sqft
9        other  6 Bedroom      1020.0     6  370.0    6           36274
45  HSR Layout  8 Bedroom       600.0     9  200.0    8           33333

In [ ]:
df2=df[(df.price_per_sqft<max_threshold) & (df.price_per_sqft>min_threshold)]
df2.shape

(195, 7)

In [ ]:
df2.describe()

        total_sqft        bath       price         bhk  price_per_sqft
count   195.000000  195.000000  195.000000  195.000000      195.000000
mean   1563.234821    2.748718  106.041462    2.871795     6416.538462
std     865.826403    1.313466  103.079656    1.247254     3704.107518
min     276.000000    1.000000   14.000000    1.000000     2500.000000
25%    1100.000000    2.000000   49.950000    2.000000     4261.000000
50%    1325.000000    2.000000   70.000000    3.000000     5416.000000
75%    1707.000000    3.000000  121.000000    3.000000     6811.000000
max    5700.000000    8.000000  760.000000    8.000000    27083.000000